NODE_ENV=

# in prod set to the production base url
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

MONGODB_URI=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

EMAIL_HOST=
EMAIL_USER=
EMAIL_PASSWORD=

# not used
AUTH_SECRET=